<head>

<style>
      header {
        text-align: center;
        margin: 0 auto;
      }

      h1 {
        font-family: 'Rock Salt', cursive;
        color: lime;
        font-size: 5em;
      }
      h1:hover{
        color: red;
      }

      li {
        font-family: 'Rock Salt', cursive;
        font-size: 1.75em;
        list-style-type: none;
        display: inline;
        padding: 0px 35px 0px 35px;
      }
</style>

</head>

<header>
      <h1> Hip-Hop Is Dead </h1>
      <ul>
        <li><a href="/microposts">Home</a></li>
        <li><a href="/microposts/postauthors">Post-Authors</a></li>
        <li><a href="/microposts/topics&hashtags">Topics & #Hashtags</a></li>
        <li><a href="/microposts/createpost">Create-Post</a></li>
      </ul>  
</header>