<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "stylesheet" href = "/public/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title> HipHopIsDead </title>
</head>
<body>
<% include header %>
<% microposts.forEach( function(micropost) { %>
<div>
  <a href="/micropost/<%= micropost.id %>"><h3><%= micropost.title %></h3> </a>
  <img src="<%= micropost.image %>">
  <p> <%= micropost.body %></p>
</div>  
<% }); %>
</body>
</html>