form {
	text-align: center;
}

div {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

img {
	max-width: 450px;
}

h4 {
	font-family: 'Rock Salt', cursive;
    font-size: 1.75em;
    padding: 0px 35px 0px 35px;
}

h2 {
	text-align: center;
}